/* Custom CSS */

/* COLOR VARIABLES */
:root {
--eggshell: #F3F0E1ff;
--vivid-tangerine: #FF8200;
--beaver: #968477ff;
--black-beaver: rgb(26, 26, 26);
}

* {
    color: var(--black-beaver);
}

body {
    background-color: var(--eggshell);
    
}

.navbar-collapse {
    justify-content: flex-end;
    align-items: center;
}
.navbar-nav a{
    margin-bottom: -20px;
    /* color: red; */
}

/* Company Name - 'Brain'  */
h1 {
    color: var(--black-beaver);
    justify-content: flex-start;
}
/* Company Name - 'Web Design'   */
#web-design {
    color: var(--beaver)
}
/* Jumbotron */
.jumbotron {
    height: 600px;  
    background-image: url(/images/i-recommend.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Name  */
h2 {
    position: absolute;
    bottom: 0px;
    left: 10px;
    margin: 10px;
}

/* Section titles */
h3 {
    margin: 20px;
}

/* Work */
#work {
    margin-top: 50px;
}
.card {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.card-area {
    margin: 5px;
}

/* Skills/about section  */
.skills, .about {
    height: 500px;

}

.about p {
    margin: 10px;
    padding-left: 10px;
    padding-right: 20px;
    width: 90%
}

/* Skills list  */
.list-group {
    padding: 20px;
}
.list-group-item {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to left,var(--eggshell), var(--vivid-tangerine));

}
.list-group-item:first-child {
    margin-top: -20px;
}

/* Contact  */

#contact h3 {
    margin-top: 60px;
    padding-bottom: 20px;
}

.contact {
    text-decoration: none;
    text-align: center;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: var(--vivid-tangerine)
}

/* FOOTER  */
footer {
    line-height: 75%;
    text-align: center;
    background-image: linear-gradient(var(--eggshell), var(--beaver));
    padding-bottom: 20px;
}

h5 {
    color: black;
    font-size: 20px;
}


/* 
MEDIA QUERIES
 */

/* Resize Jumbotron image  */
@media screen and (max-width: 500px) {
    .jumbotron {
        height: 300px;
    }
}
@media screen and (min-width: 900px) {
    .jumbotron {
        height: 1200px;
    }
}