/* Custom CSS */
.navbar-collapse {
    justify-content: flex-end;
    align-items: center;
}


h1 {
    justify-content: flex-start;
}

.card {
    background-image: url(/images/02-run-buddy.jpg);
    background-size: cover;
    margin: 20px;
}

body {
    background-image: url(/images/neon.jpg);
    background-size: cover;
    background-position: center;
}   
.jumbotron {
    height: 600px;
}