/* Custom CSS */
.navbar-collapse {
    justify-content: flex-end;
    align-items: center;
}


h1 {
    justify-content: flex-start;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.card-img-top {
    
}
.card-area {
    margin: 5px;
}

.jumbotron {
    height: 600px;
    background-image: url(/images/i-recommend.png);
    background-size: cover;
    background-position: center;
}